<div class="flex align-items-center justify-content-center h-screen">
  <p-card header="Register form">
    <form [formGroup]="registerForm" #formDir="ngForm" (ngSubmit)="register()">
      <div class="field">
        <label for="email">Email</label>
        <input
          id="email"
          aria-describedby="email-help"
          pInputText
          [class.ng-invalid]="
            email && email.invalid && (email.dirty || email.touched)
          "
          formControlName="email"
          class="inputfield w-full"
        />
        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="alert alert-danger"
        >
          <small
            *ngIf="email?.errors?.required"
            id="email-help"
            class="p-error p-d-block"
            >Email is required</small
          >
          <small
            *ngIf="email?.errors?.email"
            id="email-help"
            class="p-error p-d-block"
            >Valid email is required</small
          >
          <div>
            <small
              *ngIf="email?.errors?.emailTaken"
              id="email-help"
              class="p-error p-d-block"
              >This email is taken</small
            >
          </div>
        </div>
      </div>
      <div class="field">
        <label for="password">Password</label>
        <p-password
          [class.ng-invalid]="
            password && password.invalid && (password.dirty || password.touched)
          "
          formControlName="password"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          aria-describedby="password-help"
        >
        </p-password>
        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="alert alert-danger"
        >
          <small
            *ngIf="password?.errors?.required"
            id="password-help"
            class="p-error p-d-block"
            >Password is required</small
          >
          <small
            *ngIf="password.errors?.minlength"
            id="password-help"
            class="p-error p-d-block"
            >Password must be at least 8 characters long</small
          >
        </div>
      </div>
      <div class="mb-4">
        <p-fileUpload
          [showUploadButton]="false"
          [showCancelButton]="false"
          (onRemove)="clearFile()"
          (onSelect)="setFile($event)"
          [multiple]="false"
          accept=".jpg,.png"
          [maxFileSize]="15728640"
        >
        </p-fileUpload>
        <small *ngIf="errorMessage" id="file-help" class="p-error p-d-block"
          >File is required</small
        >
      </div>
      <div class="field">
        <button
          pButton
          label="Register"
          type="submit"
          [disabled]="registerForm.invalid"
          class="w-12"
        ></button>
      </div>

      <div class="field">
        <button
          pButton
          label="Log in"
          class="w-12"
          routerLink="/auth/login"
        ></button>
      </div>
    </form>
  </p-card>
</div>
